### Lecture de mes données

In [1]:
import pandas as pd 

popCommune = pd.read_excel('Data/population_communes.xlsx', engine="openpyxl")
refGeo = pd.read_excel('Data/referentiel-geographique.xlsx')
valeursFon = pd.read_excel('Data/valeurs-foncieres.xlsx')
valeursFon2 = pd.read_excel('Data/valeurs-foncieres-2.xlsx')

popCommune.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34991 entries, 0 to 34990
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   REGION   34991 non-null  object
 1   CODDEP   34631 non-null  float64
 2   COMMUNE  34991 non-null  object
 3   PTOT     34991 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.1+ MB

c:\Users\Raux Familly\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [2]:
# Lire la colonne et réencoder
def corriger_encodage(texte):
    if isinstance(texte, str):  # Vérifie que la valeur est une chaîne
        return texte.encode('cp1252').decode('utf-8')
    return texte

# Appliquer sur une colonne spécifique ou sur tout le DataFrame
popCommune['COMMUNE'] = popCommune['COMMUNE'].apply(corriger_encodage).str.upper()
popCommune['REGION'] = popCommune['REGION'].apply(corriger_encodage).str.upper()

In [3]:
def corriger_encodage(texte):
    if isinstance(texte, str):  # Vérifie que la valeur est une chaîne
        return texte.encode('cp1252').decode('utf-8')
    return texte

# Appliquer sur une colonne spécifique ou sur tout le DataFrame
refGeo['reg_nom'] = refGeo['reg_nom'].apply(corriger_encodage).str.upper()
refGeo['dep_nom'] = refGeo['dep_nom'].apply(corriger_encodage).str.upper()

In [4]:
#Jointure données popCommune et refGeo
df_merged = pd.merge(popCommune, refGeo, left_on='COMMUNE', right_on='com_nom', how='inner')
df_merged

,REGION,CODDEP,COMMUNE,PTOT,reg_nom,dep_nom,com_code,com_nom,dep_code
0,AUVERGNE-RHÔNE-ALPES,1.0,L'ABERGEMENT-DE-VAREY,257,AUVERGNE-RHÔNE-ALPES,AIN,1002.0,L'ABERGEMENT-DE-VAREY,1.0
1,AUVERGNE-RHÔNE-ALPES,1.0,AMBRONAY,2915,AUVERGNE-RHÔNE-ALPES,AIN,1007.0,AMBRONAY,1.0
2,AUVERGNE-RHÔNE-ALPES,1.0,AMBUTRIX,777,AUVERGNE-RHÔNE-ALPES,AIN,1008.0,AMBUTRIX,1.0
3,AUVERGNE-RHÔNE-ALPES,1.0,ANDERT-ET-CONDON,335,AUVERGNE-RHÔNE-ALPES,AIN,1009.0,ANDERT-ET-CONDON,1.0
4,AUVERGNE-RHÔNE-ALPES,1.0,ANGLEFORT,1122,AUVERGNE-RHÔNE-ALPES,AIN,1010.0,ANGLEFORT,1.0
...,...,...,...,...,...,...,...,...,...
35108,LA RÉUNION,974.0,SAINTE-SUZANNE,24292,PAYS DE LA LOIRE,MAYENNE,53255.0,SAINTE-SUZANNE,53.0
35109,LA RÉUNION,974.0,SALAZIE,7209,LA RÉUNION,LA RÉUNION,97421.0,SALAZIE,974.0
35110,LA RÉUNION,974.0,LE TAMPON,80833,LA RÉUNION,LA RÉUNION,97422.0,LE TAMPON,974.0
35111,LA RÉUNION,974.0,LES TROIS-BASSINS,7106,LA RÉUNION,LA RÉUNION,97423.0,LES TROIS-BASSINS,974.0
35112,LA RÉUNION,974.0,CILAOS,5623,LA RÉUNION,LA RÉUNION,97424.0,CILAOS,974.0

In [5]:
df_merged['CODDEP'] = df_merged['CODDEP'].replace().astype('int64')
df_merged['com_code'] = df_merged['com_code'].replace().astype('int64')
df_merged['dep_code'] = df_merged['dep_code'].replace().astype('int64')

C:\Users\Raux Familly\AppData\Local\Temp\ipykernel_748\133250297.py:1: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  df_merged['CODDEP'] = df_merged['CODDEP'].replace().astype('int64')
C:\Users\Raux Familly\AppData\Local\Temp\ipykernel_748\133250297.py:2: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  df_merged['com_code'] = df_merged['com_code'].replace().astype('int64')
C:\Users\Raux Familly\AppData\Local\Temp\ipykernel_748\133250297.py:3: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  df_merged['dep_code'] = df_merged['dep_code'].replace().astype('int64')

In [6]:
valeursFon['Valeur_fonciere'] = valeursFon['Valeur_fonciere'].replace().astype('int64')
valeursFon['No_voie'] = valeursFon['No_voie'].replace().astype('int64')
valeursFon['Code_postal'] = valeursFon['Code_postal'].replace().astype('int64')
valeursFon['Code_departement'] = valeursFon['Code_departement'].replace().astype('int64')

C:\Users\Raux Familly\AppData\Local\Temp\ipykernel_748\3366407116.py:1: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  valeursFon['Valeur_fonciere'] = valeursFon['Valeur_fonciere'].replace().astype('int64')
C:\Users\Raux Familly\AppData\Local\Temp\ipykernel_748\3366407116.py:2: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  valeursFon['No_voie'] = valeursFon['No_voie'].replace().astype('int64')
C:\Users\Raux Familly\AppData\Local\Temp\ipykernel_748\3366407116.py:3: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  valeursFon['Code_postal'] = valeursFon['Code_postal'].replace().astype('int64')
C:\Users\Raux Familly\AppData\Local\Temp\ipykernel_748\3366407116.py:4: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  valeursFon['Code_departement'] = valeursFon['Code_departement'].replace().astype('int64')

In [7]:
valeursFon2['Valeur_fonciere'] = valeursFon2['Valeur_fonciere'].replace().astype('int64')
valeursFon2['No_voie'] = valeursFon2['No_voie'].replace().astype('int64')

C:\Users\Raux Familly\AppData\Local\Temp\ipykernel_748\2675864214.py:1: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  valeursFon2['Valeur_fonciere'] = valeursFon2['Valeur_fonciere'].replace().astype('int64')
C:\Users\Raux Familly\AppData\Local\Temp\ipykernel_748\2675864214.py:2: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  valeursFon2['No_voie'] = valeursFon2['No_voie'].replace().astype('int64')

In [8]:
valeursFon2

,Date_vente,Valeur_fonciere,No_voie,Type_voie,Voie,Code_postal,Commune,Code_departement,Code_commune,Surface_carrez,Type_local,Surface_reelle,Nombre pieces
0,2020-02-03,56000,190,RUE,CENTRALE,1370,SAINT-ETIENNE-DU-BOIS,1,350,50.42,Appartement,52,2
1,2020-01-02,165000,347,RUE,DU CHATEAU,1170,CHEVRY,1,103,48.22,Appartement,48,3
2,2020-01-08,720000,58,AV,DU MONT BLANC,1220,DIVONNE-LES-BAINS,1,143,130.80,Appartement,130,6
3,2020-01-06,429250,140,RUE,DE L'ABBE JOLIVET,1630,PERON,1,288,109.22,Maison,109,5
4,2020-01-07,220900,39,RUE,BUFFON,1200,VALSERHONE,1,33,108.65,Appartement,91,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34163,2020-06-30,1290000,4,RUE,DE RIVOLI,75004,PARIS 04,75,104,102.09,Appartement,99,3
34164,2020-06-30,726000,38,RUE,DU TEMPLE,75004,PARIS 04,75,104,55.95,Appartement,56,3
34165,2020-06-25,420000,13,RUE,DES TOURNELLES,75004,PARIS 04,75,104,32.86,Appartement,29,2
34166,2020-06-25,725000,16,RUE,CHARLEMAGNE,75004,PARIS 04,75,104,56.80,Appartement,48,3
34167,2020-06-11,433000,3,RUE,SAINT-JOSEPH,75002,PARIS 02,75,102,35.44,Appartement,33,1

### Création des tables de dimension et de fait

In [9]:
#Création table de dimension Region
dim_region = df_merged[['REGION']].drop_duplicates().reset_index(drop=True)
dim_region['Id_region'] = dim_region.index + 1
col = ['Id_region'] + [col for col in dim_region.columns if col != 'Id_region']
dim_region = dim_region[col]
df_merged = df_merged.merge(dim_region, on=['REGION'], how='left')

In [10]:
#Création table de dimension Population
dim_population = df_merged[['dep_code', 'com_code', 'PTOT']].drop_duplicates().reset_index(drop=True)
dim_population['Id_commune_pop'] = dim_population.index + 1
col = ['Id_commune_pop'] + [col for col in dim_population.columns if col != 'Id_commune_pop']
dim_population = dim_population[col]
df_merged = df_merged.merge(dim_population, on=['dep_code', 'com_code', 'PTOT'], how='left')

In [11]:
#Création table de dimension Commune
dim_commune = df_merged[['COMMUNE', 'com_code', 'dep_code', 'dep_nom', 'Id_region', 'Id_commune_pop']].drop_duplicates().reset_index(drop=True)
dim_commune['Id_commune'] = dim_commune.index + 1
col = ['Id_commune'] + [col for col in dim_commune.columns if col != 'Id_commune']
dim_commune = dim_commune[col]
df_merged = df_merged.merge(dim_commune, on=['COMMUNE', 'com_code', 'dep_code', 'dep_nom', 'Id_region', 'Id_commune_pop'], how='left')

In [12]:
dim_commune

,Id_commune,COMMUNE,com_code,dep_code,dep_nom,Id_region,Id_commune_pop
0,1,L'ABERGEMENT-DE-VAREY,1002,1,AIN,1,1
1,2,AMBRONAY,1007,1,AIN,1,2
2,3,AMBUTRIX,1008,1,AIN,1,3
3,4,ANDERT-ET-CONDON,1009,1,AIN,1,4
4,5,ANGLEFORT,1010,1,AIN,1,5
...,...,...,...,...,...,...,...
35100,35101,SAINTE-SUZANNE,53255,53,MAYENNE,17,35026
35101,35102,SALAZIE,97421,974,LA RÉUNION,17,35027
35102,35103,LE TAMPON,97422,974,LA RÉUNION,17,35028
35103,35104,LES TROIS-BASSINS,97423,974,LA RÉUNION,17,35029
35104,35105,CILAOS,97424,974,LA RÉUNION,17,35030

In [13]:
#Création table de dimension Bien
dim_bien = valeursFon2[['No_voie', 'Type_voie', 'Voie', 'Commune', 'Code_postal', 'Code_departement', 'Nombre pieces', 'Surface_carrez', 'Surface_reelle', 'Type_local']].drop_duplicates().reset_index(drop=True)
dim_bien['Id_bien'] = dim_bien.index+1
colonnes = ['Id_bien'] + [col for col in dim_bien.columns if col != 'Id_bien']
dim_bien = dim_bien[colonnes]
valeursFon2 = valeursFon2.merge(dim_bien, on=['No_voie', 'Type_voie', 'Voie', 'Commune', 'Code_postal', 'Code_departement', 'Nombre pieces', 'Surface_carrez', 'Surface_reelle', 'Type_local'], how='left')
dim_bien

,Id_bien,No_voie,Type_voie,Voie,Commune,Code_postal,Code_departement,Nombre pieces,Surface_carrez,Surface_reelle,Type_local
0,1,190,RUE,CENTRALE,SAINT-ETIENNE-DU-BOIS,1370,1,2,50.42,52,Appartement
1,2,347,RUE,DU CHATEAU,CHEVRY,1170,1,3,48.22,48,Appartement
2,3,58,AV,DU MONT BLANC,DIVONNE-LES-BAINS,1220,1,6,130.80,130,Appartement
3,4,140,RUE,DE L'ABBE JOLIVET,PERON,1630,1,5,109.22,109,Maison
4,5,39,RUE,BUFFON,VALSERHONE,1200,1,4,108.65,91,Appartement
...,...,...,...,...,...,...,...,...,...,...,...
34139,34140,4,RUE,DE RIVOLI,PARIS 04,75004,75,3,102.09,99,Appartement
34140,34141,38,RUE,DU TEMPLE,PARIS 04,75004,75,3,55.95,56,Appartement
34141,34142,13,RUE,DES TOURNELLES,PARIS 04,75004,75,2,32.86,29,Appartement
34142,34143,16,RUE,CHARLEMAGNE,PARIS 04,75004,75,3,56.80,48,Appartement
34143,34144,3,RUE,SAINT-JOSEPH,PARIS 02,75002,75,1,35.44,33,Appartement

In [14]:
valeursFon2

,Date_vente,Valeur_fonciere,No_voie,Type_voie,Voie,Code_postal,Commune,Code_departement,Code_commune,Surface_carrez,Type_local,Surface_reelle,Nombre pieces,Id_bien
0,2020-02-03,56000,190,RUE,CENTRALE,1370,SAINT-ETIENNE-DU-BOIS,1,350,50.42,Appartement,52,2,1
1,2020-01-02,165000,347,RUE,DU CHATEAU,1170,CHEVRY,1,103,48.22,Appartement,48,3,2
2,2020-01-08,720000,58,AV,DU MONT BLANC,1220,DIVONNE-LES-BAINS,1,143,130.80,Appartement,130,6,3
3,2020-01-06,429250,140,RUE,DE L'ABBE JOLIVET,1630,PERON,1,288,109.22,Maison,109,5,4
4,2020-01-07,220900,39,RUE,BUFFON,1200,VALSERHONE,1,33,108.65,Appartement,91,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34163,2020-06-30,1290000,4,RUE,DE RIVOLI,75004,PARIS 04,75,104,102.09,Appartement,99,3,34140
34164,2020-06-30,726000,38,RUE,DU TEMPLE,75004,PARIS 04,75,104,55.95,Appartement,56,3,34141
34165,2020-06-25,420000,13,RUE,DES TOURNELLES,75004,PARIS 04,75,104,32.86,Appartement,29,2,34142
34166,2020-06-25,725000,16,RUE,CHARLEMAGNE,75004,PARIS 04,75,104,56.80,Appartement,48,3,34143
34167,2020-06-11,433000,3,RUE,SAINT-JOSEPH,75002,PARIS 02,75,102,35.44,Appartement,33,1,34144

In [15]:
#Création table de faits Vente
sales_fact = valeursFon2[['Date_vente', 'Valeur_fonciere', 'Id_bien']].drop_duplicates().reset_index(drop=True)
sales_fact['Id_Vente'] = sales_fact.index + 1
col = ['Id_Vente'] + [col for col in sales_fact.columns if col != 'Id_Vente']
sales_fact = sales_fact[col]
sales_fact

       Id_Vente Date_vente  Valeur_fonciere  Id_bien
0             1 2020-02-03            56000        1
1             2 2020-01-02           165000        2
2             3 2020-01-08           720000        3
3             4 2020-01-06           429250        4
4             5 2020-01-07           220900        5
...         ...        ...              ...      ...
34163     34164 2020-06-30          1290000    34140
34164     34165 2020-06-30           726000    34141
34165     34166 2020-06-25           420000    34142
34166     34167 2020-06-25           725000    34143
34167     34168 2020-06-11           433000    34144

[34168 rows x 4 columns]

### Création d'une BDD et import des données

In [35]:
from sqlalchemy import create_engine, Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

# Définir la base
Base = declarative_base()

C:\Users\Raux Familly\AppData\Local\Temp\ipykernel_748\1403839308.py:6: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [ ]:
class Region(Base):
    __tablename__ = 'region'

    id = Column(Integer, primary_key=True, autoincrement=True)
    nom_region = Column(String(50), nullable=False)

class Commune(Base):
    __tablename__ = 'commune'

    id = Column(Integer, primary_key=True, autoincrement=True)
    nom = Column(String(50), nullable=False)

# Connexion à la base MySQL
DATABASE_URL = "mysql+mysqlconnector://user:password@localhost:3306/ma_base"
engine = create_engine(DATABASE_URL)

# Création d'une session
Session = sessionmaker(bind=engine)
session = Session()